<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title is empty ? 'HETIC STUDENT' : title}}</title>
    <link rel="stylesheet" href="{{ base_url() }}/../assets/style/style.css">
</head>