{% include 'partials/header.twig' %}

    <div class="intro__container">
        <div class="intro__main">
            <span class="intro__title">About.</span>
            <span>[əbaʊt]</span>
            <span>n. m.</span>
        </div>
        <div class="intro__definition">
            <span >1. Journal is about telling my journey into the web, posting articles about my projects and works, it will be (i hope) updated along the way.</span>
        </div>
    </div>

{% include 'partials/footer.twig' %}