{% include 'partials/header.twig' %}

    <div class="intro__container">
        <div class="intro__main">
            <span class="intro__title">Error {{ code }}.</span>
            <span>[{{ phonetic }}]</span>
            <span>n. m.</span>
        </div>
        <div class="intro__definition">
            <span >1. {{ definition }}</span>
        </div>
    </div>

{% include 'partials/footer.twig' %}