{% include 'partials/header.twig' %}

<div class="home__transition">
</div>
<div class="article__transition">
</div>

<div class="articles__container">
{% include 'partials/article_preview.twig' %}
</div>

<div class="scroll__bar"></div>
<script src="{{ base_url() }}/assets/home.js"></script>
{% include 'partials/footer.twig' %}