{% include 'partials/head.twig' %}

<body>
    <div class="intro__container">
        <div class="intro__main">
            <span class="intro__title">Journal.</span>
            <span>[ʒuʁnal]</span>
            <span>n. m.</span>
        </div>
        <div class="intro__loader"></div>
        <div class="intro__definition">
            <span >1. Where I tell stories about things that happens to me on a daily basis. I don't really know what I'm doing so please be gentle.</span>
        </div>
    </div>
    <div class="intro__transition">
    </div>
    <script src="{{ base_url() }}/assets/scripts.js"></script>
</body>

{% include 'partials/footer.twig' %}