{% include 'partials/head.twig' %}

<body>
    <div class="intro__container">
        <div class="intro__main">
            <span class="intro__title">Journal.</span>
            <span>[ʒuʁnal]</span>
            <span>n. m.</span>
        </div>
        <div class="intro__definition">
            <span >1. Mon outil pour communiquer, me permet de raconter mes péripéties les plus folles dans le monde immense du développement web.</span>
            
        </div>
    </div>
    <div class="intro__transition">
    </div>
    <script src="{{ base_url() }}/../assets/scripts.js"></script>
</body>

{% include 'partials/footer.twig' %}